<a href="https://colab.research.google.com/github/moonstar0301/KNUDART/blob/main/%EC%8A%A4%ED%81%AC%EB%A6%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

BLEND = pd.read_excel('/BLEND_test.xlsx', index_col=0)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
BLEND = BLEND.transpose()

In [6]:
BLEND

             PCR       PER      PBR      PSR
삼화페인트    8.08703  31.21516  0.54673  0.28959
한화       6.51480   8.76303  0.74945  0.64728
백광산업     4.54205   8.62846  0.91539  0.83330
KG케미칼   11.89154  14.87072  1.28746  1.45179
조비       7.89604   9.19665  1.29208  0.53476
...          ...       ...      ...      ...
세아제강     1.96414   2.30580  0.44174  0.20385
삼성전자     7.17739  14.77784  1.79372  1.77297
SK하이닉스   4.66081  19.56677  0.87412  1.44145
DB하이텍    2.44020   2.96052  0.99767  0.98705
한미반도체   11.35836  12.41927  2.98335  3.50667

[147 rows x 4 columns]

In [7]:
BLEND.describe()

               PCR         PER         PBR         PSR
count   147.000000  145.000000  147.000000  147.000000
mean     16.883797   21.458801    1.027443    1.394800
std      85.066498   34.786112    0.875961    3.491109
min       1.306360    1.403720    0.135900    0.046220
25%       4.848575    6.497630    0.449315    0.256500
50%       7.896040   11.359840    0.796680    0.615600
75%      12.122090   20.568350    1.288695    1.038830
max    1035.781540  247.491800    6.315830   29.991760

In [8]:
BLEND["PCR_RANK"] = BLEND["PCR"].rank(ascending=False)
BLEND["PER_RANK"] = BLEND["PER"].rank(ascending=False)
BLEND["PBR_RANK"] = BLEND["PBR"].rank(ascending=False)
BLEND["PSR_RANK"] = BLEND["PSR"].rank(ascending=False)

In [9]:
BLEND

,PCR,PER,PBR,PSR,PCR_RANK,PER_RANK,PBR_RANK,PSR_RANK
삼화페인트,8.08703,31.21516,0.54673,0.28959,72.0,22.0,98.0,104.0
한화,6.51480,8.76303,0.74945,0.64728,83.0,89.0,77.0,70.0
백광산업,4.54205,8.62846,0.91539,0.83330,115.0,91.0,59.0,54.0
KG케미칼,11.89154,14.87072,1.28746,1.45179,40.0,59.0,38.0,23.0
조비,7.89604,9.19665,1.29208,0.53476,74.0,85.0,36.0,79.0
...,...,...,...,...,...,...,...,...
세아제강,1.96414,2.30580,0.44174,0.20385,141.0,141.0,116.0,122.0
삼성전자,7.17739,14.77784,1.79372,1.77297,80.0,60.0,22.0,20.0
SK하이닉스,4.66081,19.56677,0.87412,1.44145,113.0,40.0,61.0,24.0
DB하이텍,2.44020,2.96052,0.99767,0.98705,139.0,135.0,52.0,42.0
한미반도체,11.35836,12.41927,2.98335,3.50667,43.0,70.0,6.0,7.0

In [10]:
BLEND['total_rank'] = BLEND["PCR_RANK"] + BLEND["PBR_RANK"] +BLEND["PSR_RANK"] + BLEND["PER_RANK"]

In [11]:
BLEND

,PCR,PER,PBR,PSR,PCR_RANK,PER_RANK,PBR_RANK,PSR_RANK,total_rank
삼화페인트,8.08703,31.21516,0.54673,0.28959,72.0,22.0,98.0,104.0,296.0
한화,6.51480,8.76303,0.74945,0.64728,83.0,89.0,77.0,70.0,319.0
백광산업,4.54205,8.62846,0.91539,0.83330,115.0,91.0,59.0,54.0,319.0
KG케미칼,11.89154,14.87072,1.28746,1.45179,40.0,59.0,38.0,23.0,160.0
조비,7.89604,9.19665,1.29208,0.53476,74.0,85.0,36.0,79.0,274.0
...,...,...,...,...,...,...,...,...,...
세아제강,1.96414,2.30580,0.44174,0.20385,141.0,141.0,116.0,122.0,520.0
삼성전자,7.17739,14.77784,1.79372,1.77297,80.0,60.0,22.0,20.0,182.0
SK하이닉스,4.66081,19.56677,0.87412,1.44145,113.0,40.0,61.0,24.0,238.0
DB하이텍,2.44020,2.96052,0.99767,0.98705,139.0,135.0,52.0,42.0,368.0
한미반도체,11.35836,12.41927,2.98335,3.50667,43.0,70.0,6.0,7.0,126.0

In [12]:
result = BLEND.sort_values("total_rank", ascending = True)
result[0:20].index

Index(['LG생활건강', '코스모화학', '코스모신소재', '아모레퍼시픽', 'SKC', '보락', '삼아알미늄', '한국화장품제조',
       '아모레G', '남선알미늄', '한솔케미칼', 'SK이노베이션', '태경산업', '후성', '애경산업', 'PI첨단소재',
       '그린케미칼', '동남합성', '진양산업', '한미반도체'],
      dtype='object')